<!-- <section class="header">
    <a href="../Untitled-1.html">
        <img style="height: 100%; width: 12%; margin-left: 0; " src="./assets/img/logo-mobile.png" alt="">
    </a>
    <div style="height: 100%;" class="box-login" id="box-t">
        <span style="margin-top: -10px;" id="ten_nv">Xin chào</span>
        <i class="fas fa-sort-down"></i>
        <div class="box-login-bottom" id="box-b">
            <button ><i class="fas fa-user-alt"></i> Tài khoản</button>
            <button ><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
        </div>
    </div>
</section> -->
<section class="header">
    <a href="../Untitled-1.html">
        <img style="height: 100%; width: 12%; margin-left: 0; " src="./assets/img/logo-mobile.png" alt="">
    </a>
    <div style="height: 100%;" class="box-login" id="box-t">
        <span style="margin-top: -10px;" id="ten_nv">Xin chào, {{user.hoTen}}</span>
        <div style="margin-top: 10px; margin-right: 20px;" class="box-login-bottom" id="box-b">
            <button style="color: aliceblue; background-color:darkslategrey;" ><i class="fas fa-user-alt"></i> Tài khoản</button>
            <button (click)="logOut()" style="margin-left: 10px; color: aliceblue; background-color:darkslategrey;" ><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
        </div>
    </div>
</section>
