
<div id="content">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div id="invoice" class="invoice">
                <div class="header">
                    <h1>Hoá đơn bán hàng</h1>
                    <p>Ngày: {{invoice.ngayBan}}</p>
                </div>
                <div class="customer-info">
                    <h2>Thông tin khách hàng</h2>
                    <p><strong>Tên:</strong> {{ invoice.tenKhachHang }}</p>
                    <p><strong>Địa chỉ:</strong> {{ invoice.diaChi }}</p>
                    <p><strong>Email:</strong> {{ invoice.email }}</p>
                    <p><strong>Số điện thoại:</strong> {{ invoice.sdt }}</p>
                </div>
                <div class="invoice-details">
                    <h2>Chi tiết hoá đơn</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invoiceDetail">
                                <td>{{ item.sanp_name }}</td>
                                <td>{{ item.soLuong }}</td>
                                <td>{{ item.giaBan | currency }}</td>
                                <td>{{ item.giaBan* item.soLuong | currency }}</td>
                              </tr>
                            <!-- Thêm các sản phẩm khác nếu cần -->
                        </tbody>
                    </table>
                </div>
                <div class="total">
                    <p class="total">Tổng cộng: {{ invoice.giaTien | currency }}</p>
                </div>
            </div>
            <button style="margin-left: 85%; width: 10%;" class="btn btn-primary" (click)="exportToPdf()">Xuất PDF</button>
          </div>
    </div>
</div>



