<div style="padding-left: 2%; padding-top: 2%;" id="content">
    <h3>Sửa thông tin danh mục</h3>
    <div class="form-field">
        <label class="form-label" for="product-name"
          >Mã danh mục:</label
        >
        <input
          class="form-input"
          type="text"
          id="product-name"
          name="product-name"
         [(ngModel)] = "category.loai_id"
        />
      </div>
    <div class="form-field">
      <label class="form-label" for="product-name"
        >Tên danh mục:</label
      >
      <input
        class="form-input"
        type="text"
        id="product-name"
        name="product-name"
       [(ngModel)] = "category.loai_name"
      />
    </div>

   
    <button
                type="button"
                class="btn btn-primary"
                (click)="editBranch()"
              >
                Save
              </button>
  </div>
  


