<div style="width: 100%;" class="category">
    <ul style="width: 100%;">
        <li><a href="/admin/ThongKe">Thống Kê</a></li>
        <li><a href="/admin/QuanLyLoaiSp">Thể loại sách</a></li>
        <li><a href="/admin/QuanLySanPham">Tác phẩm</a></li>
        <li><a href="/admin/QuanLyNhasx">Nhà xuất bản</a></li>
        <li><a href="/admin/QuanLyTacGia">Tác giả</a></li>
        <li><a href="../admin/KhachHang.html">Khách hàng</a></li>
        <li><a href="../admin/NhanVien.html">Nhân viên</a></li>
        <li><a href="/admin/QuanLyHoaDonNhap">Hóa đơn nhập</a></li>
        <li><a href="/admin/QuanLyHoaDonBan">Hóa đơn bán</a></li>
        <li><a href="/admin/QuanLyKho">Kho</a></li>
        <li><a href="/admin/QuanLyDonHang">Đơn hàng</a></li>
    </ul>
</div>
