<div style="padding-left: 2%; padding-top: 2%;" id="content">
    <h3>Sửa thông tin sản phẩm</h3>
    <div class="form-field">
        <label class="form-label" for="product-name"
          >Mã sản phẩm:</label
        >
        <input
          class="form-input"
          type="text"
          id="product-name" readonly
          name="product-name"
         [(ngModel)] = "product.sanp_id"
        />
      </div>
    <div class="form-field">
      <label class="form-label" for="product-name"
        >Tên sản phẩm:</label
      >
      <input
        class="form-input"
        type="text"
        id="product-name"
        name="product-name"
       [(ngModel)] = "product.sanp_name"
      />
    </div>

    <div class="form-field">
      <label class="form-label" for="note">Mô tả:</label>
      <ckeditor  [(ngModel)]="product.tomTat" skin="moono-lisa" language="en" >
      </ckeditor>
    </div>
    <div class="form-field">
      <label class="form-label" for="price"
        >Giá tiền:</label
      >
      <input
        class="form-input"
        type="text"
        id="price"
        name="price"
        [(ngModel)] = "product.gia"
      />
    </div>

    <div class="form-field">
        <label class="form-label" for="price"
          >Số trang:</label
        >
        <input
          class="form-input"
          type="text"
          id="price"
          name="price"
          [(ngModel)] = "product.soTrang"
        />
      </div>
     
      <div class="form-field">
        <label class="form-label" for="price"
          >Size:</label
        >
        <input
          class="form-input"
          type="text"
          id="price"
          name="price"
          [(ngModel)] = "product.size"
        />
      </div>
    

    <div class="form-field">
      <label class="form-label" for="price"
        >Năm sản xuất:</label
      >
      <input
        class="form-input"
        [(ngModel)] = "product.namsx"
        type="datetime-local"
      />
    </div>
    <div class="form-field">
      <label class="form-label" for="category"
        >Thể loại:</label
      >
      <select
        class="form-select"
        id="category"
        name="category"
        [(ngModel)] = "product.loai_id"
      >
        <option *ngFor="let x of branch"  [value]="x.loai_id">
          {{x.loai_name}}
        </option>
      </select>
    </div>
    <div class="form-field">
        <label class="form-label" for="category"
          >Tác giả:</label
        >
        <select
          class="form-select"
          id="category"
          name="category"
          [(ngModel)] = "product.tG_id"
        >
          <option *ngFor="let x of author"  [value]="x.tG_id">
            {{x.tG_name}}
          </option>
        </select>
      </div>

    <div class="form-field">
      <label class="form-label" for="category"
        >Nhà sản xuất:</label
      >
      <select
        class="form-select"
        id="category"
        name="category"
        [(ngModel)] = "product.nsx_id"
      >
        <option *ngFor="let x of company"  [value]="x.nsx_id">
          {{x.nsx_name}}
        </option>
      </select>
    </div>

    

    <div class="form-field">
      <label class="form-label" for="image"
        >Hình ảnh:</label
      >
      <input
      type="file" id="imageUpload" name="image" accept="image/*"  (change)="onFileChanged($event)"
      />
      <!-- <input
      type="text" id="imageUpload" name="image" [(ngModel)] = "product.image"
      /> -->
    </div>
    <button
                type="button"
                class="btn btn-primary"
                (click)="editproduct()"
              >
                Save
              </button>
  </div>
  