<h1 style="margin-left: 2em; font-weight: 50;">Giỏ hàng</h1>
<div style="width: 90%; margin-left: 5%;">
    <table class="table">
        <thead>
            <tr>
                <th style="padding-left: 2em;">Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td class="img"><img style="width: 30%;" src="./assets/img/book/{{item.image}}" /></td>
                <td class="name">{{item.sanpName}} </td>
                <td class="quantity">{{item.quantity}}</td>
                <td class="price">{{item.gia * item.quantity}}</td>
            </tr>

        </tbody>
        
    </table>
    <p  style="padding-left: 70%; font-size: 30px;">Tổng: {{total}}đ</p>
</div>
<div style="margin-left: 60%;">
    <button style="border: none; font-weight: bold; font-size: 1.3em; border-radius: 5px; width: 34%; height: 3em; background-color: #01a14b; color: aliceblue;">Cập nhật</button>
    <button [routerLink]="['/client/Pay']" style="border: none; margin-left: 2em; font-weight: bold; font-size: 1.3em; border-radius: 5px; width: 34%; height: 3em; background-color: #01a14b; color: aliceblue;">Thanh toán</button>
</div>