<div class="footer">
    <div class="left">
        <ul>
            <li><img src="https://theme.hstatic.net/200000287623/1000948667/14/footer_logo.png?v=298" alt=""></li>
            <li>Số 110 Nguyễn Ngọc Nại, Khương Mai, Thanh Xuân, Hà Nội</li>
            <li>HotLine: 0971877014</li>
            <li>Email: luan2k2hy@gmail.com</li>
            <li>Giấy phép DKKD số 10120345, cấp lần thứ 6 năm 2019</li>
        </ul>
    </div>
    <div class="center">
        <div class="top">
            <div class="customer">
                <p style="color:white; font-size: 18px;">HỖ TRỢ KHÁCH HÀNG</p>
                <ul>
                    
                    <li>Câu hỏi thường gặp</li>
                    <li>Điều khoản dịch vụ</li>
                </ul>
            </div>
            <div class="policy">
                <p style="color:white; font-size: 18px;">CHÍNH SÁCH</p>
                <ul>
                    
                    <li>Chính sách bảo mật</li>
                    <li>Chính sách vận chuyển</li>
                    <li>Chính sách đổi trả</li>
                    <li>Chính sách thanh toán</li>
                </ul>
            </div>
        </div>
        <div class="bot">
            <p style="color:white; font-size: 18px; margin-left: 4%; ">ĐĂNG KÝ NHẬN TIN</p>
            <p style="color:white; font-size: 16px; margin-left: 4%; margin-top: 2%;">Hãy nhập email của bạn vào ô dưới đây để có thể nhận được tất cả tin tức mới nhất IPM</p>
            <form>
                <input placeholder="Nhập email của bạn..." class="input" />
                <button type="submit" class="btn">Đăng ký</button>
            </form>
        </div>
    </div>
    <div class="right">
        <p style="color:white; font-size: 18px; margin-left: 4%; ">KẾT NỐI VỚI CHÚNG TÔI</p>
        <img style="width: 90%; margin-left: 4%; margin-top: 4%;" src="/assets/img/Capture.PNG" />
        <p style="color:white; font-size: 18px; margin-left: 4%; margin-top: 7%; ">CÁC KÊNH KHÁC</p>
        <i style="color: black; font-size: 30px; text-align: center; padding-top: 4px; margin-left: 4%; margin-top: 3%; background-color: aliceblue; width: 10%; height: 10%; border-radius: 4px;" class="fa fa-facebook"></i>
        <i style="color: black; font-size: 30px; text-align: center; padding-top: 4px; margin-left: 4%; margin-top: 3%; background-color: aliceblue; width: 10%; height: 10%; border-radius: 4px;" class="fa fa-twitter"></i>
        <i style="color: black; font-size: 30px; text-align: center; padding-top: 4px; margin-left: 4%; margin-top: 3%; background-color: aliceblue; width: 10%; height: 10%; border-radius: 4px;" class="fa fa-youtube"></i>
    </div>
</div>