.search {
    height: 95px;

    background-color: #f7f7f9;
    width: 100%;

    .left {
        width: 25%;
        height: 100%;

        padding-top: 14px;
        padding-left: 4%;
        float: left;
    }

    .center {
        width: 50%;
        height: 100%;

        float: left;
        padding-left: 5%;
        padding-top: 14px;

        .find {
            width: 80%;
            height: 35px;
            margin-top: 10px;
            border: 1px solid rgba(77, 128, 27, 0.856);

        }

        .submit {

            background-color: #01a14b;
            height: 35px;
            margin-right: 8%;
            margin-top: 10px;
            border: 1px solid rgba(77, 128, 27, 0.856);
            float: right;
            width: 12%;

            p {
                font-size: 15px;
                margin-top: -0.8em;
                margin-left: -0.5em;
                color: aliceblue;
            }
        }
    }

    .right {
        width: 25%;
        height: 100%;

        float: left;
        display: flex;
        padding: auto;

        .cart {
            margin-left: 0px;
            width: 50%;
            height: 60%;
            border-right: 2px solid green;
            padding-left: 95px;

            margin-top: 6%;


        }

        .content {
            width: 50%;
            height: 90%;
            padding-top: 15px;
            padding-left: 10px;

        }
    }
}